@import url("https://fonts.googleapis.com/css?family=Economica|Special+");
@import url("https://fonts.googleapis.com/css?family=Economica|Special+");
.right {
  float: right; }

.left {
  float: left; }

body, html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif JP', sans-serif; }

body nav {
  display: block;
  position: fixed;
  top: 0px;
  margin: 0;
  width: 100vw;
  height: 64px;
  background: linear-gradient(180deg, #f7f7f7, #d7d7d7); }
  @media print {
    body nav {
      display: none; } }
  body nav a {
    color: #D4002A;
    text-decoration: none; }
  body nav ul.ul-nav1 {
    list-style: none;
    width: 100vw;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    position: absolute; }
    body nav ul.ul-nav1 li.brand {
      font-family: 'Work Sans', sans-serif;
      padding-left: 10px;
      color: #D4002A;
      font-weight: 900;
      font-size: 29px; }
    body nav ul.ul-nav1 li.menu {
      padding-right: 20px; }
  body nav ul.ul-nav2 {
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.3);
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 30vw;
    margin-top: 64px;
    width: 70vw;
    border: none;
    height: 80vh;
    justify-content: space-around;
    list-style: none;
    background-color: #f9f9f9; }
    body nav ul.ul-nav2 li {
      margin-top: 10%; }
      body nav ul.ul-nav2 li a {
        color: black; }

.ul-div {
  display: none; }

.right {
  float: right; }

.left {
  float: left; }

body, html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif JP', sans-serif; }

body nav {
  display: block;
  position: fixed;
  top: 0px;
  margin: 0;
  width: 100vw;
  height: 64px;
  background: linear-gradient(180deg, #f7f7f7, #d7d7d7); }
  body nav a {
    color: #D4002A;
    text-decoration: none; }
  body nav ul.ul-nav1 {
    list-style: none;
    width: 100vw;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    position: absolute; }
    body nav ul.ul-nav1 li.brand {
      font-family: 'Work Sans', sans-serif;
      padding-left: 10px;
      color: #D4002A;
      font-weight: 900;
      font-size: 29px; }
    body nav ul.ul-nav1 li.menu {
      padding-right: 20px; }
  body nav ul.ul-nav2 {
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.3);
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 30vw;
    margin-top: 64px;
    width: 70vw;
    border: none;
    height: 80vh;
    justify-content: space-around;
    list-style: none;
    background-color: #f9f9f9; }
    body nav ul.ul-nav2 li {
      margin-top: 10%; }
      body nav ul.ul-nav2 li a {
        color: black; }

.ul-div {
  display: none; }

@page {
  size: auto;
  margin: 0; }
@media print {
  nav {
    display: none !important; } }

button, .button {
  border: none;
  width: 146px;
  height: 38px;
  color: white;
  background-color: #D4002A;
  outline: none;
  font-family: 'Noto Serif JP', sans-serif; }

button:active, .button:active {
  transform: translateY(4px); }

button:hover, .button:hover {
  background-color: #a10020; }

article {
  margin-top: 64px;
  margin-right: 12px;
  margin-left: 13px;
  padding-top: 5px;
  box-sizing: border-box; }
  article header {
    text-align: center; }
    @media print {
      article header {
        display: none; } }
  article section {
    display: flex;
    flex-direction: column;
    border-bottom: 2px #DFDFDF solid;
    padding-bottom: 20px; }
    @media (min-width: 769px) {
      article section {
        flex-direction: row; } }
    article section img {
      display: block;
      margin: auto;
      height: 150px;
      width: 250px; }
      @media (min-width: 769px) {
        article section img {
          max-width: 100%;
          height: auto; } }
    article section div {
      width: 100vw;
      text-align: center;
      margin-bottom: 10px; }
      article section div div {
        width: 100%; }
    article section .button {
      box-sizing: border-box;
      text-decoration: none;
      display: block;
      margin: auto;
      padding-top: 8px; }
      @media print {
        article section .button {
          display: none !important; } }

.header-font {
  font-family: 'Noto Serif JP', sans-serif; }

.car-model-brand {
  font-weight: bolder;
  font-size: 34px; }

div.price {
  font-weight: bolder;
  margin-top: 16px; }
  div.price span {
    font-family: "Economica", sans-serif;
    font-weight: bolder;
    font-size: 20px; }

.success {
  color: green; }

div.success {
  width: 100%;
  text-align: center; }

@media (min-width: 769px) {
  .car-model-brand {
    padding-top: 20px;
    font-size: 40px; } }

@media (min-width: 769px) {
  .details div {
    margin-bottom: 20px; } }

div.main-error {
  width: 80vw;
  margin: auto;
  margin-top: 25vh;
  border: 2px #DFDFDF solid;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: large; }
  div.main-error span {
    display: block;
    margin-bottom: 30px;
    font-size: 12px;
    font-style: italic; }
  div.main-error span.title {
    font-style: normal;
    font-family: "Noto Serif JP";
    font-size: 25px;
    margin: 10px 10px; }
  div.main-error i {
    color: #D4002A;
    display: block;
    width: 30%;
    font-size: 34px;
    margin: auto; }

/*# sourceMappingURL=errorpage.css.map */
