@import "style";


button,.button{
  border: none;
  width: 146px;
  height: 38px;
  color: white;
  background-color: color(accent);
  outline: none;
  font-family: 'Noto Serif JP', sans-serif;
}
button:active,.button:active{
  transform: translateY(4px);
}
button:hover,.button:hover{
  background-color: darken(color(accent),10);
}
article{
  margin-top: 64px;
  margin-right: 12px;
  margin-left: 12px;
  padding-top: 5px;
  box-sizing: border-box;

  header{

    text-align: center;
  }
  section{
    display: flex;
    flex-direction: column;
    border-bottom :2px color(primary) solid;
    padding-bottom: 20px;
    @include laptop{
      flex-direction: row;
    }

    img{
      display: block;
      margin: auto;
      height: 150px;
      width: 250px;
    }
    div{
      div{
        width: 100%;
      }
      width: 100vw;
      text-align: center;
      margin-bottom: 10px;
    }

    .button{
      box-sizing: border-box;
      text-decoration: none;
      display: block;
      margin: auto;
      padding-top:8px ;
    }

  }
}

.header-font{
  font-family: 'Noto Serif JP', sans-serif;
}

.car-model-brand{
  font-weight: bolder;
  font-size: 34px;
}


div.price{
  font-weight: bolder;
  margin-top: 16px;
  span{
    font-family: $economica;
    font-weight: bolder;
    font-size: 20px;
  }
}
.success{
  color: green;
}
div.success{
  width: 100%;
  text-align: center;

}

