<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header-forms">
    <meta name="viewport" content="
      width=device-width,
      initial-scale=1,
      minimum-scale=1,
      maximum-scale=1
    "/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/new_style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/errorpage.css">
    <meta charset="UTF-8">
    <title>Error!</title>
</head>
<body>

<div class="main-error">

    <i class="fas fa-exclamation-triangle"></i>
    <span class="title">Transaction Failed!</span>
    <span th:text="${ exception}"></span>


    <input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" class="button"/>
</div>

</body>
</html>